/*Bootstrap override*/
.blockquote-footer{
    text-align: right;
    padding-right: 25px; padding-top: 15px;
}

.btn-warning {
    color: #3B3355;
    background-color: #3B8EA5;
    border-color: #3B8EA5;
}

.btn-warning:hover {
    color: #3B3355;
    background-color: #F25724;
    border-color: #F25724;
    cursor: pointer;
}

.btn-warning.focus, .btn-warning:focus {
    box-shadow: 0 0 0 -0.8rem rgba(255,193,7,.5);
}

body,html{
    heigth:100%;
    background-color: #5D5D81
}

.main{
    background: linear-gradient(#3B3355 -30%,#ffdfde 50%,#3B3355 130%);
    margin:auto;
}

.quotes{
    position: relative;
    overflow: hidden;
    height: 100%;
}

.quote{
    top:20%;
    bottom: 45%;
    height: 50%;
    background: none;
    margin: auto;
    position: absolute;
    width: 100%;
    transition: 1s;
}

.quote .content{
    padding-left: 10px;
    border-top: solid 1px #BF043A;
    border-bottom: solid 1px #BF043A;
    bottom: 0;
    margin: auto;
    position: absolute;
    left: 0;
    height: auto
}

.quote p{
    font-family:'Roboto Mono', monospace;
    font-size: 25px;
}

.quote i{
    margin-top: 30px;
}

.quote cite{
    font-family: 'Cinzel', serif;
}

.not-transition{
    transition: none !important;
}

.js-show{
    left: 0px;
}

.js-left{
    left: -100%;
}

.js-right{
    left: 100%;
}

.previous{
    background: none;
    position: absolute;
    top:45%; left:20px; bottom:45%;
    margin: auto;
}

.next{
    background: none;
    position: absolute;
    top:45%; right:20px; bottom:45%;
    margin: auto;
}

.arrow span{
    font-size: 3em;
}

.social{
    height: 10%;
    position: absolute;
    bottom: 90px;
    left:0px;
    width: 100%;
    color: #1D3557;
}

.social i:hover{
    color: #447599;
    cursor: pointer;

}

.smallSizeButtons{
   display:none;
   margin-left: 36%;
}

@media (max-width: 750px) {
    .quote p,
    .quote i {
        font-size: smaller;
    }
    .quote i{
        margin-top: 20px;
    }

    .quote{
        height: 30%;
        top:30%
    }

    .previous,
    .next{
        display: none;
    }

    .smallSizeButtons{
        display: block;
    }

    .smallSizeButtons button{
        color: #3B3355;
        background-color: #FC5083;
        border-color: #FC5083;
    }

    .social{
        bottom: 90px;
    }
}

@media (min-width: 750px) and (max-width: 1045px) {
    .quote p,
    .quote i {
        font-size: 115%;
    }

    .quote{
        height: 30%;
        top:40%;
    }

    .social{
        bottom: 200px;
    }
}

